<ul class="links">
    <li>
        <a href="https://github.com/benserrette/" target="github" class="github_link">
            Github
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/benserrette/" target="linkedin" class="linkedin_link">
            LinkedIn
        </a>
    </li>
    <li>
        <a href="https://bsky.app/profile/benserrette.bsky.social" target="bsky" class="bsky_link">
            Bluesky
        </a>
    </li>
    <li>
        <a href="https://osome.iu.edu/" target="osome" class="osome_link">
            IU Observatory on Social Media
        </a>
    </li>
</ul>