<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{%if title %}{{ title }} - {% endif %}Ben Serrette's homepage</title>
        <meta name="description" content="Engineering leader. Developer at heart. Solving interesting problems.">
        <meta name="author" content="Ben Serrette">
        <link rel="stylesheet" href="/assets/main.css?v=7">
        
        <link rel="icon" href="favicon-32x32.png" type="image/png">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="manifest" href="site.webmanifest">
        
        <meta property="og:title" content="{%if title %}{{ title }} - {% endif %}Ben Serrette's homepage">
        <meta property="og:description" content="Engineering leader. Developer at heart. Solving interesting problems.">
        <meta property="og:image" content="http://benserrette.com/assets/img/tie.jpg">
        <meta property="og:type" content="website">
        
        <!-- <meta name="twitter:card" content="summary_large_image"> -->
        <meta name="twitter:title" content="{%if title %}{{ title }} - {% endif %}Ben Serrette's homepage">
        <meta name="twitter:description" content="Engineering leader. Developer at heart. Solving interesting problems.">
        <meta name="twitter:image" content="http://benserrette.com/assets/img/tie.jpg">
        
    </head>
    
    <body>
        <script src="/assets/main.js?v=6"></script> 
        <h1>Ben Serrette</h1>
        <p class="subtitle">
            <strong>Engineering leader. Developer at heart. Solving interesting problems.</strong>
        </p>
        <hr>
{{ content | safe }}

        <hr>
        <footer>
            <p>&copy; <span id="year">20XX</span> Ben Serrette</p>
            <nav aria-label="Links">
                {% include "links.html" %}
            </nav>

            <ul class="footnotes">
                <li>🛠️ Maintained with <a href="https://www.11ty.dev/" target="eleventy">Eleventy</a>.</li>
                <li>🤖 Yes, I  use AI to edit my writing and speed up development.</li>
            </ul>
            <p><a href="/legal-notice.html" target="legal">Legal Notice (Impressum)</a></p>
        </footer>
    </body>
</html>
