---
layout: layouts/base.hbs
---
<section id="links">
    <h2>Links</h2>
    {{{ include_html "home/links" }}}
</section>
<hr />
<section id="about">
    <h2>About Me</h2>
    {{{ include_markdown "home/about" }}}
</section>
<hr>
<section id="skills">
    <h2>Technical and Leadership Skills</h2>
    {{{ include_markdown "home/skills" }}}
</section>