---
layout: layouts/subpage.njk
---

{{ content | safe }}
 
<ul class="listing">
{% for item in collections[list] %}
    <li>
        <a href="{{item.url}}">{{ item.data.title }}</a>
        {% if item.data.pub_date %}
        <time datetime="{{item.data.pub_date}}">{{item.data.pub_date_formatted}}</time>
        {% endif %}
    </li>
{% endfor %}
</ul>
