---
layout: layouts/base
---
        <nav class="breadcrumbs">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                {% if breadcrumbs %}
                    {% for crumb in breadcrumbs %}
                <li>
                    <a href="{{crumb.url}}">{{crumb.label}}</a>
                </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
        <hr />
        <main>

{{ content | safe }}

        </main>